table, tr, td , th{
    border: 1px solid black;
}

table{
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    text-align: left;
}

td, th {
    padding: 10px;
}

tfoot .title {
    text-align: right;
}

img {
    width: 80px;
    height: auto;
    margin: auto;
}

input.quantity {
    width: 36px;
    margin: 0px;
}

button {
    margin-left: -7px;
    width: 35px;
}

button.delete {
    background: red;
    border: none;
    height: 22px;
    border-radius: 0px 3px 3px 0px;
    color: white;
}


button:focus{
    outline: none;
}


